# Compare predictions

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
OUTPUT_PATH = Path(".").absolute().parent / "output"

In [3]:
# !head -50 ../output/inference_FurnitureInceptionV4_350_20180425_2258/predict.log

In [4]:
!ls -all ../output/test_resnet101_350_finetune_random_resized_crop/20180509_0937/

total 124
drwxr-xr-x 3 root root   4096 May  9 09:54 .
drwxr-xr-x 3 root root   4096 May  9 09:37 ..
-rw-r--r-- 1 root root 106150 May  9 09:54 predictions.csv
-rw-r--r-- 1 root root   2892 May  9 09:54 predict.log
drwxr-xr-x 3 root root   4096 May  9 09:37 tensorboard
-rw-r--r-- 1 root root   1185 May  9 09:37 test_resnet101_350_finetune_random_resized_crop.py

In [5]:
prediction_files = [
    OUTPUT_PATH / "inference_FurnitureNASNetALarge_20180418_0635" / "predictions.csv",
    OUTPUT_PATH / "test_nasnetalarge_350_resized_crop" / "20180428_1455" / "predictions.csv",
#     OUTPUT_PATH / "inference_FurnitureInceptionResNet299_20180426_1440" / "predictions.csv",
    OUTPUT_PATH / "inference_FurnitureInceptionV4_350_20180425_2258" / "predictions.csv",
    OUTPUT_PATH / "inference_FurnitureInceptionV4_350_20180428_0808" / "predictions.csv",
    OUTPUT_PATH / "test_inceptionv4_350_fc_random_resized_crop" / "20180507_1116" / "predictions.csv",    
#     OUTPUT_PATH / "test_senet154_350_random_resized_crop" / "20180509_0825" / "predictions.csv",
#     OUTPUT_PATH / "test_resnet101_350_finetune_random_resized_crop" / "20180509_0937" / "predictions.csv",    
]

# prediction_files = [
#     "maj_votes_2nasnet_2incv4_incv4rc_resnet.csv",
#     OUTPUT_PATH / "test_inceptionv4_350_fc_random_resized_crop" / "20180506_1914" / "predictions.csv",
# ]

In [6]:
names = [f.parent.name.replace("inference_", "") for f in prediction_files]
names
# names = ["maj_votes_2nasnet_2incv4_incv4rc_resnet", "20180506_1914"]

['FurnitureNASNetALarge_20180418_0635',
 '20180428_1455',
 'FurnitureInceptionV4_350_20180425_2258',
 'FurnitureInceptionV4_350_20180428_0808',
 '20180507_1116']

In [7]:
dfs = [pd.read_csv(f, index_col='id') for f in prediction_files]

merged_df = pd.concat([df for df in dfs], axis=1)
merged_df.columns = names

In [8]:
merged_df.head(10)

,FurnitureNASNetALarge_20180418_0635,20180428_1455,FurnitureInceptionV4_350_20180425_2258,FurnitureInceptionV4_350_20180428_0808,20180507_1116
id,,,,,
1,12,12,12,12,12
2,71,71,71,71,71
3,91,91,91,91,91
4,54,54,54,54,54
5,126,126,126,126,126
6,76,76,76,76,76
7,94,94,94,94,94
8,8,8,8,8,8
9,127,127,127,127,127
10,117,117,117,117,117

In [9]:
disagreement_mask = merged_df.mean(axis=1).apply(lambda x: int(x) != x)
print(disagreement_mask.sum(), disagreement_mask.shape[0])

1796 12800

In [10]:
merged_df[disagreement_mask].head(10)

,FurnitureNASNetALarge_20180418_0635,20180428_1455,FurnitureInceptionV4_350_20180425_2258,FurnitureInceptionV4_350_20180428_0808,20180507_1116
id,,,,,
12,128,19,19,19,19
14,77,77,77,45,77
20,108,108,27,49,49
24,15,63,23,15,15
26,89,89,97,97,89
38,75,61,61,104,61
47,82,127,43,43,127
48,15,15,15,63,63
50,90,90,90,90,44
66,5,5,5,112,5

In [11]:
merged_df[disagreement_mask].tail(10)

,FurnitureNASNetALarge_20180418_0635,20180428_1455,FurnitureInceptionV4_350_20180425_2258,FurnitureInceptionV4_350_20180428_0808,20180507_1116
id,,,,,
12723,30,30,37,30,37
12729,77,81,77,77,77
12742,113,113,113,113,67
12746,72,72,72,54,72
12747,42,113,113,80,113
12756,17,17,21,86,18
12766,60,106,106,106,106
12776,79,115,121,121,121
12781,23,4,4,23,4
12797,75,75,75,61,61

In [12]:
def get_decision_fn(weights):    
    def fn(row):
        votes = np.zeros(128 + 1, dtype=np.int)
        for r, w in zip(row, weights):
            votes[r] += w
        return np.argmax(votes)
    return fn

In [13]:
merged_df.loc[:, 'MajVote'] = merged_df.apply(get_decision_fn(weights=[1] * merged_df.shape[1]), axis=1)

In [14]:
merged_df[disagreement_mask].head(10)

,FurnitureNASNetALarge_20180418_0635,20180428_1455,FurnitureInceptionV4_350_20180425_2258,FurnitureInceptionV4_350_20180428_0808,20180507_1116,MajVote
id,,,,,,
12,128,19,19,19,19,19
14,77,77,77,45,77,77
20,108,108,27,49,49,49
24,15,63,23,15,15,15
26,89,89,97,97,89,89
38,75,61,61,104,61,61
47,82,127,43,43,127,43
48,15,15,15,63,63,15
50,90,90,90,90,44,90
66,5,5,5,112,5,5

In [15]:
merged_df[disagreement_mask].tail(10)

,FurnitureNASNetALarge_20180418_0635,20180428_1455,FurnitureInceptionV4_350_20180425_2258,FurnitureInceptionV4_350_20180428_0808,20180507_1116,MajVote
id,,,,,,
12723,30,30,37,30,37,30
12729,77,81,77,77,77,77
12742,113,113,113,113,67,113
12746,72,72,72,54,72,72
12747,42,113,113,80,113,113
12756,17,17,21,86,18,17
12766,60,106,106,106,106,106
12776,79,115,121,121,121,121
12781,23,4,4,23,4,4
12797,75,75,75,61,61,75

In [16]:
merged_df['MajVote'].to_csv("maj_votes_2nasnet_2incv4_incv4rc.csv", header=["predicted"])

In [134]:
!head maj_votes_2nasnet_3incv4_incv4rc_resnet.csv

id,predicted
1,12
2,71
3,91
4,54
5,126
6,76
7,94
8,8
9,127

## Probas on validation

In [1]:
from pathlib import Path
import sys
sys.path.insert(0, Path(".").absolute().parent.as_posix())

In [2]:
import matplotlib.pylab as plt
%matplotlib inline
import seaborn as sns

In [3]:
import numpy as np
import pandas as pd

from PIL import Image


OUTPUT_PATH = Path(".").absolute().parent / "output"

In [4]:
# !ls ../output/val_probas_inceptionresnetv2_350_weighted_sampler2_resized_crop/

In [5]:
# prediction_files = [
#     OUTPUT_PATH / "val_probas_inceptionresnetv2_350_resized_crop" / "20180428_1622" / "probas.csv",
#     OUTPUT_PATH / "val_probas_inceptionv4_350_resized_crop" / "20180428_1633" / "probas.csv",
#     OUTPUT_PATH / "val_probas_nasnetalarge_350_resized_crop" / "20180428_1654" / "probas.csv",    
# ]

In [6]:
prediction_files = [
    OUTPUT_PATH / "val_probas_inceptionresnetv2_350_resized_crop" / "20180428_1622" / "probas.csv",
    OUTPUT_PATH / "val_probas_inceptionv4_350_resized_crop" / "20180428_1633" / "probas.csv",
    OUTPUT_PATH / "val_probas_nasnetalarge_350_resized_crop" / "20180428_1654" / "probas.csv",    
    OUTPUT_PATH / "val_probas_inceptionresnetv2_350_weighted_sampler2_resized_crop" / "20180501_1710" / "probas.csv",        
]

In [7]:
dfs = [pd.read_csv(f, index_col='id') for f in prediction_files]

# merged_df = pd.concat([df for df in dfs], axis=1)
# merged_df.columns = names

In [8]:
df_probas = pd.concat(dfs, axis=0)

In [9]:
y_probas = df_probas.groupby('id').mean()
y_probas.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,c127
id,,,,,,,,,,,,,,,,,,,,,
1,1.142132e-07,6.172438e-07,5.954983e-08,6.790467e-08,4.274050e-08,3.353087e-07,8.198711e-08,1.401706e-06,1.613855e-08,3.158318e-06,...,1.745530e-07,6.696046e-08,4.561732e-08,2.210249e-07,4.079582e-07,6.002456e-08,9.546675e-07,5.366485e-07,9.529454e-08,1.795009e-08
2,2.378047e-05,1.911221e-06,3.813768e-04,8.873822e-04,4.337529e-06,5.411072e-05,4.765262e-06,2.086249e-04,2.246416e-06,4.256942e-06,...,1.120080e-06,1.173155e-03,1.831630e-05,2.207372e-03,1.008246e-05,4.819439e-06,2.082802e-05,2.006639e-04,2.958735e-06,2.942054e-04
3,1.432289e-07,4.822773e-07,1.426817e-07,3.659403e-08,1.371402e-06,1.994741e-07,4.667346e-06,3.050844e-07,6.060177e-07,3.001461e-07,...,2.584748e-07,2.388654e-05,5.779009e-05,6.963761e-06,8.794139e-07,2.958808e-03,6.519160e-07,1.788477e-06,4.593745e-07,3.342676e-06
4,1.083368e-05,2.481374e-06,2.585387e-06,2.635155e-03,1.395470e-06,1.997643e-06,1.367410e-06,2.393932e-03,7.990591e-07,3.199877e-07,...,5.415177e-07,2.362610e-05,3.238820e-06,1.180370e-06,8.352326e-07,4.082013e-06,1.978310e-06,9.389314e-01,1.304322e-06,5.513055e-06
5,1.040423e-05,1.855698e-08,1.063067e-06,1.078275e-04,7.015116e-08,1.894737e-05,7.047569e-08,4.792833e-07,2.676920e-08,1.558628e-07,...,4.621694e-07,2.913073e-05,1.556012e-07,2.278507e-07,1.007028e-08,2.325471e-08,3.807204e-08,3.752913e-08,1.506875e-08,1.691870e-07

In [10]:
from common.dataset import FilesFromCsvDataset, TransformedDataset
from common.meta import get_metafeatures, get_imsize_and_targets


dataset = FilesFromCsvDataset("../output/filtered_val_dataset.csv")
dataset = TransformedDataset(dataset,
                             transforms=lambda x: (x, Image.open(x).size),
                             target_transforms=lambda l: l - 1)

df_imsize_targets = get_imsize_and_targets(dataset)

y_true = df_imsize_targets['target']
y_probas = y_probas.loc[y_true.index, :]

In [11]:
y_pred = np.argmax(y_probas.values, axis=1)

In [12]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score

By definition a confusion matrix :math:`C` is such that :math:`C_{i, j}`
is equal to the number of observations known to be in group :math:`i` but
predicted to be in group :math:`j`.

In [209]:
cm = confusion_matrix(y_true, y_pred)
recall_per_class = recall_score(y_true, y_pred, average=None)

In [210]:
recall_per_class

array([0.86      , 0.82      , 0.92      , 0.5625    , 0.96      ,
       0.91489362, 0.93617021, 0.92      , 0.89583333, 0.95744681,
       0.96      , 0.97959184, 0.91666667, 0.9       , 0.4       ,
       1.        , 0.875     , 0.9375    , 0.72      , 0.94      ,
       0.87234043, 0.76595745, 0.71428571, 0.93877551, 0.81632653,
       0.875     , 0.7755102 , 0.89795918, 0.75510204, 0.8       ,
       0.79166667, 0.97959184, 0.98      , 0.95833333, 0.77083333,
       0.97916667, 0.93877551, 0.97959184, 0.72      , 0.98      ,
       0.98      , 0.95833333, 0.98      , 1.        , 0.875     ,
       1.        , 0.84      , 0.875     , 0.71428571, 0.67346939,
       0.75      , 0.89795918, 0.86      , 0.75510204, 1.        ,
       0.96      , 0.79591837, 0.87755102, 0.86      , 0.91836735,
       0.91666667, 0.86      , 0.32      , 0.97959184, 0.83333333,
       0.54      , 0.85416667, 1.        , 0.95833333, 0.7755102 ,
       0.97916667, 0.95918367, 0.98      , 0.83673469, 0.96      ,
       0.97959184, 0.88      , 0.96      , 0.84      , 0.91836735,
       1.        , 0.86      , 0.85416667, 0.94      , 0.94      ,
       0.81632653, 0.9       , 0.74      , 0.95918367, 0.89583333,
       0.91836735, 0.98      , 0.96      , 0.94      , 1.        ,
       0.84      , 0.8       , 1.        , 0.98      , 0.79591837,
       1.        , 0.95918367, 0.87755102, 0.98      , 0.70833333,
       0.91836735, 0.92      , 0.86      , 0.85416667, 0.76      ,
       0.98      , 0.76      , 0.9       , 0.76      , 0.81632653,
       1.        , 0.96      , 0.98      , 0.93877551, 0.86      ,
       0.75      , 0.93877551, 0.97959184, 0.63265306, 0.92      ,
       0.87755102, 0.8125    , 0.75      ])

In [201]:
recall_per_class

array([0.86      , 0.84      , 0.9       , 0.5625    , 0.98      ,
       0.93617021, 0.89361702, 0.92      , 0.9375    , 0.93617021,
       0.96      , 0.97959184, 0.91666667, 0.9       , 0.3       ,
       1.        , 0.89583333, 0.9375    , 0.66      , 0.92      ,
       0.87234043, 0.78723404, 0.75510204, 0.95918367, 0.81632653,
       0.91666667, 0.69387755, 0.89795918, 0.83673469, 0.8       ,
       0.79166667, 0.97959184, 0.98      , 0.95833333, 0.79166667,
       0.97916667, 0.93877551, 0.97959184, 0.68      , 0.98      ,
       0.98      , 0.97916667, 1.        , 1.        , 0.875     ,
       1.        , 0.84      , 0.89583333, 0.73469388, 0.65306122,
       0.75      , 0.91836735, 0.86      , 0.7755102 , 1.        ,
       0.96      , 0.81632653, 0.87755102, 0.86      , 0.91836735,
       0.91666667, 0.88      , 0.3       , 0.97959184, 0.875     ,
       0.48      , 0.85416667, 1.        , 0.97916667, 0.79591837,
       0.95833333, 0.93877551, 0.98      , 0.81632653, 0.94      ,
       0.97959184, 0.9       , 0.96      , 0.88      , 0.91836735,
       1.        , 0.88      , 0.85416667, 0.96      , 0.94      ,
       0.7755102 , 0.9       , 0.74      , 0.95918367, 0.89583333,
       0.89795918, 0.98      , 0.96      , 0.92      , 0.98      ,
       0.86      , 0.8       , 1.        , 0.98      , 0.79591837,
       1.        , 0.95918367, 0.85714286, 0.98      , 0.6875    ,
       0.91836735, 0.92      , 0.86      , 0.875     , 0.76      ,
       0.98      , 0.8       , 0.9       , 0.78      , 0.81632653,
       1.        , 0.96      , 0.98      , 0.93877551, 0.86      ,
       0.75      , 0.93877551, 0.97959184, 0.6122449 , 0.92      ,
       0.89795918, 0.8125    , 0.8125    ])

In [211]:
idx = np.arange(len(cm))
mcm = cm - cm[idx, idx] * np.eye(len(cm), dtype=np.int)

In [212]:
misclassifed = {}

for i in range(128):
    classes = np.where(mcm[i, :] >= 4)[0]
    values = mcm[i, classes]
    if len(classes) > 0:
        misclassifed[i] = {
            'recall': recall_per_class[i],
            'wrong_classes':[(c, v) for c, v in zip(classes, values)]
        }

In [213]:
misclassifed

{1: {'recall': 0.82, 'wrong_classes': [(87, 4)]},
 3: {'recall': 0.5625, 'wrong_classes': [(2, 7), (28, 4)]},
 14: {'recall': 0.4, 'wrong_classes': [(3, 4), (62, 7), (125, 6)]},
 18: {'recall': 0.72, 'wrong_classes': [(127, 5)]},
 21: {'recall': 0.7659574468085106, 'wrong_classes': [(16, 4)]},
 22: {'recall': 0.7142857142857143, 'wrong_classes': [(62, 8)]},
 25: {'recall': 0.875, 'wrong_classes': [(62, 4)]},
 26: {'recall': 0.7755102040816326, 'wrong_classes': [(111, 6)]},
 27: {'recall': 0.8979591836734694, 'wrong_classes': [(23, 4)]},
 28: {'recall': 0.7551020408163265, 'wrong_classes': [(3, 6)]},
 30: {'recall': 0.7916666666666666, 'wrong_classes': [(69, 6)]},
 34: {'recall': 0.7708333333333334, 'wrong_classes': [(12, 4), (69, 4)]},
 38: {'recall': 0.72, 'wrong_classes': [(86, 10), (108, 4)]},
 48: {'recall': 0.7142857142857143, 'wrong_classes': [(124, 6)]},
 49: {'recall': 0.673469387755102, 'wrong_classes': [(19, 4), (53, 11)]},
 50: {'recall': 0.75, 'wrong_classes': [(52, 4)]},
 53: {'recall': 0.7551020408163265, 'wrong_classes': [(19, 4), (49, 4)]},
 57: {'recall': 0.8775510204081632, 'wrong_classes': [(2, 4)]},
 58: {'recall': 0.86, 'wrong_classes': [(41, 4)]},
 62: {'recall': 0.32, 'wrong_classes': [(14, 6), (22, 5), (25, 8), (28, 8)]},
 64: {'recall': 0.8333333333333334, 'wrong_classes': [(123, 5)]},
 65: {'recall': 0.54, 'wrong_classes': [(31, 5), (39, 7), (56, 4), (101, 4)]},
 66: {'recall': 0.8541666666666666, 'wrong_classes': [(112, 5)]},
 69: {'recall': 0.7755102040816326, 'wrong_classes': [(116, 4)]},
 78: {'recall': 0.84, 'wrong_classes': [(106, 4)]},
 81: {'recall': 0.86, 'wrong_classes': [(126, 4)]},
 86: {'recall': 0.9, 'wrong_classes': [(38, 4)]},
 87: {'recall': 0.74, 'wrong_classes': [(1, 4), (53, 5)]},
 96: {'recall': 0.8, 'wrong_classes': [(88, 4)]},
 99: {'recall': 0.7959183673469388, 'wrong_classes': [(19, 7)]},
 104: {'recall': 0.7083333333333334, 'wrong_classes': [(59, 11)]},
 107: {'recall': 0.86, 'wrong_classes': [(4, 4)]},
 108: {'recall': 0.8541666666666666, 'wrong_classes': [(38, 7)]},
 111: {'recall': 0.76, 'wrong_classes': [(26, 9)]},
 113: {'recall': 0.76, 'wrong_classes': [(81, 8)]},
 114: {'recall': 0.8163265306122449, 'wrong_classes': [(120, 6)]},
 123: {'recall': 0.6326530612244898, 'wrong_classes': [(64, 17)]},
 126: {'recall': 0.8125, 'wrong_classes': [(81, 7)]},
 127: {'recall': 0.75, 'wrong_classes': [(18, 7)]}}

In [179]:
misclassifed

{1: {'recall': 0.84, 'wrong_classes': [(87, 4)]},
 3: {'recall': 0.5625, 'wrong_classes': [(2, 7), (28, 5)]},
 14: {'recall': 0.3, 'wrong_classes': [(3, 4), (28, 5), (62, 8), (125, 6)]},
 18: {'recall': 0.66, 'wrong_classes': [(127, 7)]},
 21: {'recall': 0.7872340425531915, 'wrong_classes': [(16, 4)]},
 22: {'recall': 0.7551020408163265, 'wrong_classes': [(62, 6)]},
 26: {'recall': 0.6938775510204082, 'wrong_classes': [(111, 9)]},
 27: {'recall': 0.8979591836734694, 'wrong_classes': [(23, 4)]},
 30: {'recall': 0.7916666666666666, 'wrong_classes': [(69, 6)]},
 34: {'recall': 0.7916666666666666, 'wrong_classes': [(12, 4), (69, 4)]},
 38: {'recall': 0.68, 'wrong_classes': [(86, 11), (108, 5)]},
 48: {'recall': 0.7346938775510204, 'wrong_classes': [(124, 5)]},
 49: {'recall': 0.6530612244897959, 'wrong_classes': [(19, 4), (53, 12)]},
 50: {'recall': 0.75, 'wrong_classes': [(52, 4)]},
 53: {'recall': 0.7755102040816326, 'wrong_classes': [(19, 4)]},
 57: {'recall': 0.8775510204081632, 'wrong_classes': [(2, 4)]},
 58: {'recall': 0.86, 'wrong_classes': [(41, 4)]},
 62: {'recall': 0.3, 'wrong_classes': [(14, 6), (22, 5), (25, 8), (28, 9)]},
 65: {'recall': 0.48, 'wrong_classes': [(31, 5), (39, 7), (56, 6), (101, 4)]},
 66: {'recall': 0.8541666666666666, 'wrong_classes': [(112, 5)]},
 69: {'recall': 0.7959183673469388, 'wrong_classes': [(116, 4)]},
 81: {'recall': 0.88, 'wrong_classes': [(126, 4)]},
 86: {'recall': 0.9, 'wrong_classes': [(38, 4)]},
 87: {'recall': 0.74, 'wrong_classes': [(1, 4), (53, 5)]},
 96: {'recall': 0.8, 'wrong_classes': [(88, 4)]},
 99: {'recall': 0.7959183673469388, 'wrong_classes': [(19, 7)]},
 104: {'recall': 0.6875, 'wrong_classes': [(59, 12)]},
 107: {'recall': 0.86, 'wrong_classes': [(4, 4)]},
 108: {'recall': 0.875, 'wrong_classes': [(38, 6)]},
 111: {'recall': 0.8, 'wrong_classes': [(26, 7)]},
 112: {'recall': 0.9, 'wrong_classes': [(66, 4)]},
 113: {'recall': 0.78, 'wrong_classes': [(81, 8)]},
 114: {'recall': 0.8163265306122449, 'wrong_classes': [(120, 5)]},
 123: {'recall': 0.6122448979591837, 'wrong_classes': [(64, 17)]},
 126: {'recall': 0.8125, 'wrong_classes': [(81, 7)]},
 127: {'recall': 0.8125, 'wrong_classes': [(18, 5)]}}

In [25]:
misclassifed_t = {}

for i in range(128):
    classes = np.where(cm[:, i] >= 4)[0]
    values = cm[classes, i]
    if len(classes) > 1:
        misclassifed_t[i] = {
            'true_classes':[(c, v) for c, v in zip(classes, values)]
        }

In [26]:
misclassifed_t

{1: {'true_classes': [(1, 42), (87, 4)]},
 2: {'true_classes': [(2, 45), (3, 7), (57, 4)]},
 3: {'true_classes': [(3, 27), (14, 4)]},
 4: {'true_classes': [(4, 49), (107, 4)]},
 12: {'true_classes': [(12, 44), (34, 4)]},
 14: {'true_classes': [(14, 15), (62, 6)]},
 16: {'true_classes': [(16, 43), (21, 4)]},
 18: {'true_classes': [(18, 33), (127, 5)]},
 19: {'true_classes': [(19, 46), (49, 4), (53, 4), (99, 7)]},
 22: {'true_classes': [(22, 37), (62, 5)]},
 23: {'true_classes': [(23, 47), (27, 4)]},
 25: {'true_classes': [(25, 44), (62, 8)]},
 26: {'true_classes': [(26, 34), (111, 7)]},
 28: {'true_classes': [(3, 5), (14, 5), (28, 41), (62, 9)]},
 31: {'true_classes': [(31, 48), (65, 5)]},
 38: {'true_classes': [(38, 34), (86, 4), (108, 6)]},
 39: {'true_classes': [(39, 49), (65, 7)]},
 41: {'true_classes': [(41, 47), (58, 4)]},
 52: {'true_classes': [(50, 4), (52, 43)]},
 53: {'true_classes': [(49, 12), (53, 38), (87, 5)]},
 56: {'true_classes': [(56, 40), (65, 6)]},
 59: {'true_classes': [(59, 45), (104, 12)]},
 62: {'true_classes': [(14, 8), (22, 6), (62, 15)]},
 64: {'true_classes': [(64, 42), (123, 17)]},
 66: {'true_classes': [(66, 41), (112, 4)]},
 69: {'true_classes': [(30, 6), (34, 4), (69, 39)]},
 81: {'true_classes': [(81, 44), (113, 8), (126, 7)]},
 86: {'true_classes': [(38, 11), (86, 45)]},
 87: {'true_classes': [(1, 4), (87, 37)]},
 88: {'true_classes': [(88, 47), (96, 4)]},
 101: {'true_classes': [(65, 4), (101, 47)]},
 108: {'true_classes': [(38, 5), (108, 42)]},
 111: {'true_classes': [(26, 9), (111, 40)]},
 112: {'true_classes': [(66, 5), (112, 45)]},
 116: {'true_classes': [(69, 4), (116, 48)]},
 120: {'true_classes': [(114, 5), (120, 36)]},
 124: {'true_classes': [(48, 5), (124, 46)]},
 125: {'true_classes': [(14, 6), (125, 44)]},
 126: {'true_classes': [(81, 4), (126, 39)]},
 127: {'true_classes': [(18, 7), (127, 39)]}}

In [13]:
df_probas.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,c127
id,,,,,,,,,,,,,,,,,,,,,
6302,1.373452e-11,1.510409e-10,1.260431e-12,4.921817e-12,1.109817e-10,2.236590e-12,5.073530e-11,2.922072e-12,2.468959e-12,5.981444e-12,...,8.672143e-13,2.229347e-13,1.814050e-11,7.032357e-14,1.983395e-10,6.569913e-12,1.698414e-11,5.340068e-11,4.467111e-11,6.926290e-13
3349,6.708128e-07,5.170703e-07,1.846702e-07,4.019679e-07,2.481107e-07,3.374197e-07,2.376433e-06,9.245439e-07,4.313464e-03,3.201822e-07,...,2.315184e-07,2.930983e-07,1.619783e-05,1.609546e-06,3.666026e-04,6.810326e-07,1.135143e-06,4.542060e-07,6.519358e-07,7.396901e-07
484,1.588944e-07,3.460540e-06,1.504418e-05,3.487897e-06,3.223231e-08,1.037788e-06,5.816736e-07,1.317494e-08,5.965195e-07,3.312266e-07,...,9.997158e-01,2.687145e-08,7.483980e-10,1.663010e-09,1.542122e-07,3.481257e-09,2.401089e-08,2.147751e-09,9.340559e-07,7.470094e-09
2677,5.284062e-11,1.166769e-08,2.623240e-11,6.023646e-10,3.024778e-07,3.700055e-10,2.080192e-10,8.870108e-11,1.285723e-10,1.011352e-10,...,1.989998e-11,6.330309e-10,2.516007e-08,1.031392e-10,9.538543e-10,4.859603e-09,1.651155e-07,9.416713e-10,1.151990e-08,9.996565e-11
1517,1.060053e-04,2.394826e-07,4.066390e-06,1.615211e-05,1.085549e-07,6.640157e-05,1.039728e-06,5.748253e-08,1.454809e-06,2.930471e-05,...,1.193192e-05,1.042851e-01,2.138914e-07,1.049197e-07,1.285039e-07,2.572960e-08,4.993359e-07,7.153245e-08,4.385286e-08,1.651578e-06

In [195]:
# class_index = 62
# cols = ['c{}'.format(c) for c, _ in misclassifed[class_index]['wrong_classes']] + ['c{}'.format(class_index)]

In [14]:
# df_probas.loc[y_true[y_true == class_index].index[:10], cols]

In [40]:
y_probas_mean = df_probas.groupby('id').mean()
y_probas_mean = y_probas_mean.loc[y_true.index, :]

y_pred_mean = np.argmax(y_probas_mean.values, axis=1)

from sklearn.metrics import recall_score, precision_score

recall_score(y_true, y_pred_mean, average='micro'), precision_score(y_true, y_pred_mean, average='micro')

(0.8761723096487045, 0.8761723096487045)

In [41]:
def gmean(arr):
    l = len(arr)
    prod = np.prod(arr)
    return np.power(prod, 1.0/l)

In [42]:
y_probas_gmean = df_probas.groupby('id').agg(gmean)
y_probas_gmean = y_probas_gmean.loc[y_true.index, :]

y_pred_gmean = np.argmax(y_probas_gmean.values, axis=1)

recall_score(y_true, y_pred_gmean, average='micro'), precision_score(y_true, y_pred_gmean, average='micro')

(0.8761723096487045, 0.8761723096487045)

In [45]:
y_probas_gmean.loc[1, 'c0'], y_probas_mean.loc[1, 'c0']

(6.305511012639352e-09, 1.1421323731959247e-07)

Same on test data

In [28]:
from pathlib import Path
import sys
sys.path.insert(0, Path(".").absolute().parent.as_posix())

In [30]:
import matplotlib.pylab as plt
%matplotlib inline
import seaborn as sns

In [31]:
import numpy as np
import pandas as pd

from PIL import Image


OUTPUT_PATH = Path(".").absolute().parent / "output"

In [215]:
prediction_files = [
    OUTPUT_PATH / "test_probas_inceptionresnetv2_350_resized_crop" / "20180429_1242" / "probas.csv",
    OUTPUT_PATH / "test_probas_inceptionv4_350_resized_crop" / "20180429_1303" / "probas.csv",
    OUTPUT_PATH / "test_probas_nasnetalarge_350_resized_crop" / "20180429_1406" / "probas.csv",
    OUTPUT_PATH / "test_probas_inceptionresnetv2_350_weighted_sampler2_resized_crop" / "20180501_1725" / "probas.csv",    
]

In [216]:
dfs = [pd.read_csv(f, index_col='id') for f in prediction_files]

# merged_df = pd.concat([df for df in dfs], axis=1)
# merged_df.columns = names

In [217]:
df_probas = pd.concat(dfs, axis=0)

In [218]:
y_probas = df_probas.groupby('id').mean()
y_probas.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,c127
id,,,,,,,,,,,,,,,,,,,,,
1,8.912504e-07,7.503365e-07,1.738389e-06,0.000002,4.381432e-07,7.707925e-07,9.457050e-07,7.333056e-07,1.624929e-07,7.409995e-07,...,1.646692e-07,5.569590e-07,2.156962e-06,4.956204e-07,4.156830e-07,2.661459e-07,5.785049e-07,0.000004,1.891047e-07,3.028284e-07
2,1.316189e-05,1.908036e-06,1.089418e-05,0.000059,1.443225e-05,1.348888e-05,2.944533e-05,9.746005e-05,2.568036e-06,3.107332e-06,...,3.381718e-06,4.205738e-04,4.857768e-05,1.233850e-04,1.109794e-05,1.441601e-04,1.078523e-04,0.000301,5.269051e-05,9.692375e-05
3,1.602098e-06,5.981606e-08,1.217840e-08,0.000002,2.168214e-08,2.372393e-07,4.328313e-08,2.529006e-07,1.024756e-08,1.071161e-08,...,4.610815e-08,7.397583e-06,2.685228e-07,1.268696e-07,1.803629e-08,9.695865e-08,8.556419e-09,0.000004,1.318076e-08,1.603795e-07
4,2.428594e-03,2.710631e-02,8.021799e-03,0.000949,1.091015e-04,5.171085e-04,4.652084e-05,7.215493e-06,3.152695e-03,4.071674e-06,...,4.102423e-04,1.497937e-04,1.057597e-05,1.954990e-04,4.858759e-05,1.048289e-05,8.812576e-04,0.000021,4.311096e-06,1.563177e-05
5,9.091457e-06,3.020426e-06,5.647092e-06,0.001673,2.002590e-06,2.349683e-06,3.458457e-06,2.757767e-04,8.478133e-07,2.789346e-07,...,4.153027e-07,5.105820e-05,1.360590e-05,7.114927e-06,1.735761e-06,1.769032e-05,4.047222e-06,0.685021,1.195989e-06,8.616160e-05

In [219]:
missing_indices = list(set(merged_df['MajVote'].index) - set(y_probas.index))
missing_values = merged_df.loc[missing_indices, 'MajVote'].values
for idx, v in zip(missing_indices, missing_values):
    y_probas.loc[idx, :] = 0.01
    col = y_probas.columns[v - 1]
    y_probas.loc[idx, col] = 0.99

In [220]:
y_probas = y_probas.sort_index()
y_probas.tail()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,c118,c119,c120,c121,c122,c123,c124,c125,c126,c127
id,,,,,,,,,,,,,,,,,,,,,
12796,3.740855e-08,7.699472e-07,3.621496e-07,3.964026e-08,1.351679e-08,6.045437e-08,2.199541e-07,6.690590e-09,3.975444e-07,6.771315e-09,...,5.479484e-09,6.028931e-07,1.559961e-07,6.559622e-08,8.916581e-08,1.017504e-07,8.690805e-08,2.232733e-08,2.711755e-09,1.691902e-09
12797,5.812775e-06,4.587319e-06,2.474041e-05,2.488180e-05,1.054539e-05,7.284781e-06,6.714315e-06,2.000873e-05,4.213140e-06,3.695690e-06,...,4.620517e-06,2.139555e-05,2.764587e-05,1.579153e-05,7.022183e-06,4.496449e-03,1.263526e-05,3.531694e-05,1.338969e-05,7.176692e-06
12798,5.186350e-05,2.736125e-06,2.193131e-01,9.613796e-04,1.518391e-06,6.302892e-06,1.375831e-05,5.459569e-06,3.268561e-06,9.933181e-07,...,3.199144e-06,2.900240e-05,2.855623e-06,6.058239e-06,2.601914e-06,7.006069e-07,2.281592e-06,8.103623e-06,1.303272e-06,1.239960e-06
12799,8.749835e-01,8.248669e-06,7.530487e-04,1.940677e-03,1.398804e-05,3.930042e-03,1.243980e-04,1.117339e-05,4.665101e-05,3.284426e-05,...,3.624489e-04,4.786405e-03,1.282868e-04,2.173255e-03,6.709419e-05,4.579863e-06,9.111378e-06,7.063308e-05,1.432265e-05,7.423627e-05
12800,4.885252e-08,2.691364e-08,8.786990e-08,1.913607e-07,3.794453e-08,8.208963e-08,9.521560e-08,2.032380e-08,8.779747e-08,6.181915e-09,...,1.766298e-08,1.143649e-07,5.289379e-08,4.477025e-08,2.463165e-07,2.244294e-07,1.638680e-07,9.434708e-09,2.923246e-08,6.561676e-07

In [221]:
y_pred = np.argmax(y_probas.values, axis=1) + 1

In [222]:
y_maj_votes = merged_df['MajVote'].values

In [223]:
(y_maj_votes == y_pred).sum(), (y_maj_votes != y_pred).sum(), len(y_maj_votes)

(12318, 482, 12800)

In [225]:
y_pred[y_maj_votes != y_pred]

array([ 45, 110,  91, 124,   4, 100, 102,  21,  90,  97,   1,   6,  27,
        15,  97,  50,  30,  24, 115,  49,  45,   4,  14,  50,  16,  80,
        42,  63,   4,  51,  51,  87, 128, 116,  71, 108,  98,  66,  35,
        63, 100,  81,  63,  45,   4,  21,  27, 112,  87,  45,  54,  22,
       124,  30, 126,  62, 116,  44, 116,   1,  89,  18,  18, 108,  96,
       112, 127,  69,  51,  31,  90,  47,   1, 104,  85,  98,  15,  15,
       109,  50,  63, 103,  66,   4,   3,  84,  43,  61, 127, 118,  83,
        93, 126,  37, 125,  10, 103,   3,  21, 112, 110, 124,  94,   8,
        39,  84,  69, 121, 107, 124,  27,  76,   1,  42, 106,  54,  82,
        83,  31,  73, 103,  18,  91, 117,  92, 115,  16,  86,  19,  92,
        97,   2,   8,  66,  65,  53,  71,  35,  74, 104,   5, 110,   4,
        27,  59,  70, 113, 118,   4,  21, 105,  63, 117,  97,  63,  61,
        66,  69,   7,  98, 110,  67,  15,   4, 115,  45,  66, 103,  45,
        63,  42,  61,  66,  52,  20,  11,  35,  27, 124,  96,  15,  63,
        68,  54,  87,  35, 116,  45, 113,  93,  25,  14,  12, 127,  63,
        15,   4,  45, 121,  13,   1,  86,  39, 120,  39,  37, 104,   4,
        57,  89,  29, 100, 102,  98,  20,  38,  58, 128,  31,  75,  88,
        53,   4,  89,   4,  25,  96,  78,  65, 115,  61,  98,  97, 110,
        15,  11,  31, 126, 105,  61,  35,  73, 126,  63, 124, 125, 108,
        56,  35,   4,  19, 123,   4,  73,  63,  73, 120,  61, 101,  63,
       127,  42,  35,  47, 115,  63,  15,  97,  60, 115,  39,  88,   4,
         1, 124, 122,  21, 102, 126,  97, 116,  39,  88, 127, 121,  81,
        76,  61,  19, 120,  63,  63, 121,  63, 102,  12,  79,   4,  91,
       109,  51, 115,   4, 114, 108,  83,  63, 112,  63, 111, 107,  63,
        63,  59,  65,  63,  15,  65, 112,  97, 112,  77,  38,  27,   4,
         4,  50,  43,  57, 106,  64,   2,   2,   4,  20,  37, 105, 124,
         9, 112,  14,  39,  65,  15,  89,  86,  90,  50,  73, 115,  73,
       118,  39,  39,  15, 125,  27,  60, 103,  69,   5,  23,  63, 105,
        45,  49,  45,  65,  15,   4,  63, 100,  39,  45,  54,  63,  91,
        19,  73,   4, 126,   4,  63,   4,   6, 124,  49,  39,  12,  82,
       112,  52,  73, 114,  97,  66,  83,   4, 115, 118, 126,  39,  18,
       124,  54,  80,   4,   8,  63,  82, 100,   8,  51,   4,  80, 102,
        15,  23, 115, 103,  50,  66,  63,  69,   4,  54,   4, 101, 108,
        63,  10, 105,  81,  22,  63, 124,  97,  63,   4,  19,   4,  54,
       126,  42, 126,  91,  39, 121,  21, 128,  69,  29,  94,  19,   4,
        50,   2,  82,  79,  66,  97, 110, 120, 113,  39,  19,  22,   4,
        16,  62,  60,  67,  18, 105, 119,  93,  95,  14,  63,  55,  73,
        15])

In [228]:
df = pd.DataFrame({"predicted": y_pred}, index=y_probas.index)
df.to_csv("mean_proba_nasnet_incv4_incv4rc_ws2.csv")

In [229]:
!head -10 mean_proba_nasnet_incv4_incv4rc_ws2.csv

id,predicted
1,12
2,71
3,91
4,54
5,126
6,76
7,94
8,8
9,127

## Add leaked labels

In [48]:
from pathlib import Path

import pandas as pd


submission_filepath = "kaggle_maj_votes_2nasnet_2incv4_incv4rc.csv"
test_with_labels_filepath = "test_with_labels.csv"

submission_filepath = Path(submission_filepath)
assert submission_filepath.exists(), "Submission file is not found at {}".format(submission_filepath.as_posix())

test_with_labels_filepath = Path(test_with_labels_filepath)
assert test_with_labels_filepath.exists(), "Test with labels csv file is not found at {}".format(test_with_labels_filepath.as_posix())


submission_df = pd.read_csv(submission_filepath)
test_with_labels_df = pd.read_csv(test_with_labels_filepath).sort_values('id')

In [57]:
submission_df[submission_df['id'].isin(test_with_labels_df[mask_known_labels]['id'])].head()

    id  predicted
6    7         94
28  29         47
43  44         85
48  49         75
72  73        118

In [54]:
test_with_labels_df[mask_known_labels].head(10)

                                   hash  height  label  width   id
10968  2450f704b10a90f0bf3a9085bdf1841c     800     94    800    7
8668   c06e7077a429a855949cca77b4d8cfc2     800     47    800   29
10365  7eda2ccb9523accef32aae1ae53ac0a5     800     85    800   44
1779   741c54049449caf4f6c3e409809032a9     800     75    800   49
10424  a938dda470d953799eef7f32a1c76c26     800    118    800   73
2668   789b99b7794549b907f7b20a56523e82     800    107    800   90
386    8c9f10d4cb20cca40d8e6795517ece28     800    102    800   97
3649   02576a88fe84612d5309dd5f101f965b     800     90    800  116
1282   174bf6e9d4ee57dc17c74a646e95b01f     800     47    800  123
4433   27591769835e51f57f646a741bc75e8a     800    111    800  132

In [46]:
test_with_labels_df = test_with_labels_df.sort_values('id')

In [68]:
new_submission_df = submission_df.copy()

mask_known_labels = test_with_labels_df['label'] >= 0
mask = new_submission_df['id'].isin(test_with_labels_df[mask_known_labels]['id'])
new_submission_df.loc[mask, 'predicted'] = test_with_labels_df[mask_known_labels]['label'].values

In [70]:
new_submission_df.to_csv('fixed_{}'.format(submission_filepath.name), index=False)

In [71]:
!head fixed_kaggle_maj_votes_2nasnet_2incv4_incv4rc.csv

id,predicted
1,12
2,71
3,91
4,54
5,126
6,76
7,94
8,8
9,127

In [72]:
disagreement_mask = submission_df['predicted'] != new_submission_df['predicted']

In [75]:
disagreement_mask.sum()

23