# Compare predictions

In [6]:
from pathlib import Path
import pandas as pd

In [5]:
OUTPUT_PATH = Path(".").absolute().parent / "output"

In [9]:
prediction_files = [
    OUTPUT_PATH / "inference_FurnitureVGG16BN_20180412_0719" / "predictions.csv",
    OUTPUT_PATH / "inference_FurnitureNASNetALarge_20180414_0748" / "predictions.csv"
]

In [13]:
dfs = [pd.read_csv(f, index_col='id') for f in prediction_files]

In [14]:
dfs[0].head()

    predicted
id
1          12
2          71
3          91
4          54
5          42

In [15]:
dfs[1].head()

    predicted
id
1          12
2          61
3          91
4          54
5         126